<a href="https://colab.research.google.com/github/J000lka/data-science-bootcamp/blob/main/02_analiza_danych/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Podstawowe struktury danych: pd.Series](#a1)
2. [Podstawowe struktury danych: pd.DataFrame](#a2)
3. [Selekcja kolumn](#a3)

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### <a name='a1'></a>  Podstawowe struktury danych: pd.Series

pierwszy obiekt, data = lista w python, mamy od razu przypisany indeks, indeksy można kontrolować

In [2]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

domyślnie int64

In [3]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

jeśli jedno zmnieni się na float, to wszystkie będą float

In [4]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

jak wstawić braki danych, potrzebny numpy, tam atrybut do wstawiania braków danych nan

In [5]:
import numpy as np

s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

nie ma wrtości, to do średniej nie zostnie wzięte pod uwagę, w przeciwieństwie do 0

obiekt składający się z danych typu bool

In [6]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

wracamy do problemu z datami, jak indeks zaprezentować w innej postaci, np. do szregów czasowych;

indeks, trzeba podać date startową i ile chcemy mieć dni od tego dnia

In [15]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

jak obejść kwestie np. braku notowań w niektóre dni na niektórych giełdach??

tak sprawdzamy indeksy

In [16]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

można to przekonwertować na listę

In [10]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [11]:
s.dtypes

dtype('int64')

obiekt series z tekstem

In [18]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [13]:
type(s)

pandas.core.series.Series

atrybuty obiektu series

indeks

In [14]:
s.index

RangeIndex(start=0, stop=3, step=1)

teraz wracamy do obiektu z indeksem datowym i tam pojawią sie dodatkowe rzeczy

i wracamy do core, jak wypisać wartości

In [19]:
s.values

array(['python', 'java', 'sql'], dtype=object)

podaje typ danych, w przypadku tekstu jest O-bject

In [20]:
s.dtypes

dtype('O')

jak jest jedna kolumna, to wartość nie jest podawana

In [21]:
s.shape

(3,)

nowy obiekt series, notowania trzech spółek

In [23]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900})
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

chcemy coś z tego wyciąć, podajemy klucz (indeks), po którym chcemy wyciąć

In [24]:
price['CD Projekt']

60

można podać nazwę, albo numer indeksu

In [25]:
price[1]

60

PODSTAWOWE FUNKCJE DO ANALIZY DANYCH

count zlicza ilość elementów w obiekcie

In [26]:
price.count()

3

value_count zlicza wystąpienia danej wartości

In [27]:
price.value_counts(dropna=False)

200     1
60      1
1900    1
dtype: int64

suma wartości, max, min, odchylenie standardowe

In [28]:
price.sum()

2160

In [29]:
price.min()

60

In [30]:
price.max()

1900

In [31]:
price.std()

1024.3046421841502

describe pozwala opisać obiekt, podać statystyki zbiorczo

In [32]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

braki danych, dodajemy spółkę, dla której nie ma notowania NaN

In [34]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

count zlicza tylko wartości inne niż pusta

In [35]:
price.count()

3

In [37]:
price.value_counts()

200.0     1
60.0      1
1900.0    1
dtype: int64

możńa dodac parametr dropna, domyślnie jest na true, jeśli damy false to zliczy też braki danych

In [39]:
price.value_counts(dropna = False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

describe też zwróci tylko to co występuje i tylko z tego policzy statystyki

In [40]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

nlargest zwrac tyle ile chcemy wartości najwyższych

In [41]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

nsmallest - tyle ile chcemy wartości najniższych

In [42]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

rank - zwraca ranking kazdego elementu

In [43]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

sortowanie wartości, domyślnie sortuje rosnąco, jeśli chcemy zminieć, to dodatkowy atrybut jak niżej

In [44]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [45]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

konwertowanie cen na wyrażone w PLN, funkcja apply, instrukcja lambda

In [51]:
price.apply(lambda x: x * 3.8)

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

powyższe nie zmienia zmiennej price

In [52]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

tworzymy nowy obiekt series price_pln i do tego obiektu przypisujemy ceny w PLN

In [48]:
price_pln = price.apply(lambda x: x * 3.8)

In [50]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

### <a name='a2'></a>  Podstawowe struktury danych: pd.DataFrame

In [54]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [55]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

bardziej złożony obiekt, przekazujemy jako słownik

In [58]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

df można worzyć przy pomocy słownika, listy, zagnieżdżonej listy

obiekt z trzech kolumn, data jako jedna lista, która jest zagniżdżona

In [77]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

jak wyciąć z obiektu nazwy kolumn, obiekt typu indeks

In [60]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [61]:
df.index

Index(['first', 'second'], dtype='object')

In [62]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

informaje nt. obiektu

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

describe zwraca df opisujący df

In [64]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [65]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

### <a name='a3'> </a> Selekcja kolumn

In [66]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

jak wycinać kolumny z tego obiektu

In [67]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [68]:
type(df['col_1'])

pandas.core.series.Series

jeżeli chcemy wyciąć kolumnę i otrzymać w rezultacie df to tak:

In [69]:
df[['col_1']]

        col_1
first      10
second     23

In [70]:
type(df[['col_1']])

pandas.core.frame.DataFrame

jak zmieniać nazwy kolumn w df, funkcją wycinanie, wycina się nazwy i zmienia na inne

In [78]:
df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

jak można sie szybciej dobrać do doanych, bez nawiasu kwadratowego, przy czym nie może być spacji w nazwie kolumny

In [79]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

tworzenie nowej kolumny

In [80]:
df['d'] = df.a + df.c
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

inne metody wycinania

In [81]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

loc pozwala wycinać obiekty po nazwach wierszy, po indeksach

In [82]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

wycięcie konkretnej wartości (pierwszy indeks i druga kolumna)

In [84]:
df.loc['first', 'col_2']

12

wycięcie kolumny, dwukropek zamiast indeksu

In [85]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

jeśłi zamiast nazwy indeksu chcemy numer indeksu to iloc, iloc(0) to pierwszy indeks

In [83]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

iloc działa tak samo, trzeba podać numer indeksu wiersza i numer indeksu kolumny

In [86]:
df.iloc[0, 1]

12